body {
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;
    align-items: center;
}
header {
    color: #fff;
    background-color: #000000;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    width: 600px;
}
.page-icons{
    width: auto;
    align-content: center;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.content{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}
.content-lower{
    padding-top: 100px;
    padding-right: 400px;
    padding-left: 400px;
}
.section-home{
    margin: 0;
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding-block: 10px;
    padding-inline: 20px;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }


}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #3a3a3a;
}